__pycache__/
*.py[cod]
*$py.class

# Entornos Virtuales
venv/
env/
.env
.venv
ENV/
env.bak/
venv.bak/

# Outputs y Temps (solo ignorar el contenido, no la carpeta)
outputs/*
!outputs/.gitkeep
temp/*
!temp/.gitkeep
inputs/*
!inputs/.gitkeep
templates/*
!templates/.gitkeep
